{% load staticfiles %}
<!-- ===* Botones nav *=== -->
<div class="col-12">
  <div class="row no-gutters">
    <div class="col-3">
      <div class="row">
        <div class="btn-group col-12 pl-0" role="group" aria-label="Penetration">
          <a href="{% url 'scorecard:penetration' %}" role="button" class="btn btn-danger btn-collapse active" style="width:30%; border-radius:0;">
            <i class="scorecard-i fa fa-penetration fa-lg"></i>
          </a>
          <a href="{% url 'scorecard:penetration' %}" role="button" class="btn btn-danger text-white" style="width:70%; border-radius:0;">PENETRATION</a>
        </div><!-- /.btn-group -->
      </div><!-- /.row -->
    </div><!-- /.col-3 -->
    <div class="col-3">
      <div class="row">
        <div class="btn-group col-12" role="group" aria-label="Productivity">
          <a href="{% url 'scorecard:productivity' %}" role="button" class="btn btn-success active" style="width:30%; border-radius:0;">
            <i class="scorecard-i fa fa-productivity fa-lg"></i>
          </a>
          <a href="{% url 'scorecard:productivity' %}" role="button" class="btn btn-success text-white" style="width:70%; border-radius:0;">PRODUCTIVITY</a>
        </div><!-- /.btn-group -->
      </div><!-- /.row -->
    </div><!-- /.col-3 -->
    <div class="col-3">
      <div class="row">
        <div class="btn-group col-12" role="group" aria-label="Six">
          <a href="{% url 'scorecard:six' %}" role="button" class="btn btn-primary active" style="width:30%; border-radius:0;">
            <i class="scorecard-i fa fa-six"></i>
          </a>
          <a href="{% url 'scorecard:six' %}" role="button" class="btn btn-primary" style="width:70%; border-radius:0;">SIX</a>
        </div><!-- /.btn-group -->
      </div><!-- /.row -->
    </div><!-- /.col-3 -->
    <div class="col-3">
      <div class="row">
        <div class="btn-group col-12 pr-0" role="group" aria-label="Assortment">
          <a href="{% url 'scorecard:assortment' %}" role="button" class="btn btn-dark active" style="width:30%; border-radius:0;">
            <i class="scorecard-i fa fa-assortment fa-lg"></i>
          </a>
          <a href="{% url 'scorecard:assortment' %}" role="button" class="btn btn-dark" style="width:70%; border-radius:0;">ASSORTMENT</a>
        </div><!-- /.btn-group -->
      </div><!-- /.row -->
    </div><!-- /.col-3 -->  
  </div><!-- /.row -->
</div><!-- /.col-12 -->