{% load staticfiles %}
<!-- ===* Logos *=== -->
<div class="col-12 bg-white">
  <div class="row justify-content-between" style="height:65px;">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6" style="margin-top:15px;">
      <object type="image/svg+xml" data="{% static 'base/imgs/logo-itool.svg' %}" style="max-height:35px;"></object>
    </div><!-- /.col-2 -->
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6" style="margin-top:15px;">
      <object type="image/svg+xml" data="{% static 'base/imgs/logo-heineken-cm.svg' %}" style="max-height:35px;"></object>
    </div><!-- /.col-2 -->
  </div><!-- /.row -->
</div><!-- /.col-12 -->