{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4 mb-5">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
    {% include 'includes/titulo.html' %}
  </div><!-- /.col-xl-10 -->
</div><!-- /.row -->
{% endblock %}

{% block footercode %}
{% endblock %}