{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4 mb-5">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
    {% include 'includes/titulo.html' %}
  </div><!-- /.col-xl-10 -->
  <div class="col-12 mt-5">
    <div class="row">
      <div class="col-2">
        <div class="card card-body" style="padding:10px;">
          <div class="custom-control custom-radio" style="font-size:10px;">
            <input type="radio" id="RadioTotal" name="RadioTotal" class="custom-control-input">
            <label class="custom-control-label" for="RadioTotal" style="line-height:1.5rem">TOTAL</label>
          </div><!-- /.custom-control -->
        </div><!-- /.card -->
      </div><!-- /.col-2 -->
      <div class="col-3">
        <div class="form-group row">
          <label for="Select1" class="col-3">Mes</label>
          <select class="form-control form-control-sm col-9" id="Select1">
            <option selected>Selecciona un mes</option>
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
          </select>
        </div><!-- /.form-group -->
      </div><!-- /.col-2 -->
    </div><!-- /.row -->
    <div class="row mt-2">
      <div class="col-2">
        <div class="card card-body" style="padding:10px; height:142px;">
          <div class="row">
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio1c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio1c" style="line-height:1.5rem">CENTER</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio2c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio2c" style="line-height:1.5rem">EDO MEX</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio3c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio3c" style="line-height:1.5rem">GUERRERO</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio4c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio4c" style="line-height:1.5rem">MORELOS</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio5c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio5c" style="line-height:1.5rem">QUERÉTARO</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio6c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio6c" style="line-height:1.5rem">VDM CC</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio7c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio7c" style="line-height:1.5rem">VDM PVT</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio8c" name="Radioc" class="custom-control-input">
                <label class="custom-control-label" for="Radio8c" style="line-height:1.5rem">VDM CM</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
          </div><!-- /.row -->
        </div><!-- /.card -->
      </div><!-- /.col-2 -->
      <div class="col-2">
        <div class="card card-body" style="padding:10px; height:142px;">
          <div class="row">
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio1g" name="Radiog" class="custom-control-input">
                <label class="custom-control-label" for="Radio1g" style="line-height:1.5rem">GULF</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio2g" name="Radiog" class="custom-control-input">
                <label class="custom-control-label" for="Radio2g" style="line-height:1.5rem">PUEBLA</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio3g" name="Radiog" class="custom-control-input">
                <label class="custom-control-label" for="Radio3g" style="line-height:1.5rem">OAXACA</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio4g" name="Radiog" class="custom-control-input">
                <label class="custom-control-label" for="Radio4g" style="line-height:1.5rem">HIDALGO</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio6g" name="Radiog" class="custom-control-input">
                <label class="custom-control-label" for="Radio6g" style="line-height:1.5rem">VER CTO</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio7g" name="Radiog" class="custom-control-input">
                <label class="custom-control-label" for="Radio7g" style="line-height:1.5rem">VER NTE</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
          </div><!-- /.row -->
        </div><!-- /.card -->
      </div><!-- /.col-2 -->
      <div class="col-2">
        <div class="card card-body" style="padding:10px; height:142px;">
          <div class="row">
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio1ne" name="Radiosne" class="custom-control-input">
                <label class="custom-control-label" for="Radio1ne" style="line-height:1.5rem">NORTHEAST</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio2ne" name="Radiosne" class="custom-control-input">
                <label class="custom-control-label" for="Radio2ne" style="line-height:1.5rem">NL</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio3ne" name="Radiosne" class="custom-control-input">
                <label class="custom-control-label" for="Radio3ne" style="line-height:1.5rem">COAHUILA</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio4ne" name="Radiosne" class="custom-control-input">
                <label class="custom-control-label" for="Radio4ne" style="line-height:1.5rem">DURANGO</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio5ne" name="Radiosne" class="custom-control-input">
                <label class="custom-control-label" for="Radio5ne" style="line-height:1.5rem">TAM NTE</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio6ne" name="Radiosne" class="custom-control-input">
                <label class="custom-control-label" for="Radio6ne" style="line-height:1.5rem">TAM SUR</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
          </div><!-- /.row -->
        </div><!-- /.card -->
      </div><!-- /.col-2 -->
      <div class="col-2">
        <div class="card card-body" style="padding:10px; height:142px;">
          <div class="row">
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio1nw" name="Radiosnw" class="custom-control-input">
                <label class="custom-control-label" for="Radio1nw" style="line-height:1.5rem">NORTHWEST</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio2nw" name="Radiosnw" class="custom-control-input">
                <label class="custom-control-label" for="Radio2nw" style="line-height:1.5rem">BCN</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio3nw" name="Radiosnw" class="custom-control-input">
                <label class="custom-control-label" for="Radio3nw" style="line-height:1.5rem">BCS</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio4nw" name="Radiosnw" class="custom-control-input">
                <label class="custom-control-label" for="Radio4nw" style="line-height:1.5rem">CHIHUAHUA</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio5nw" name="Radiosnw" class="custom-control-input">
                <label class="custom-control-label" for="Radio5nw" style="line-height:1.5rem">JUÁREZ</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio6nw" name="Radiosnw" class="custom-control-input">
                <label class="custom-control-label" for="Radio6nw" style="line-height:1.5rem">SINALOA</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio7nw" name="Radiosnw" class="custom-control-input">
                <label class="custom-control-label" for="Radio7nw" style="line-height:1.5rem">SONORA</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
          </div><!-- /.row -->
        </div><!-- /.card -->
      </div><!-- /.col-2 -->
      <div class="col-2">
        <div class="card card-body" style="padding:10px; height:142px;">
          <div class="row">
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio1we" name="Radioswe" class="custom-control-input">
                <label class="custom-control-label" for="Radio1we" style="line-height:1.5rem">WEST</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio2we" name="Radioswe" class="custom-control-input">
                <label class="custom-control-label" for="Radio2we" style="line-height:1.5rem">AGS ZAC</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio3we" name="Radioswe" class="custom-control-input">
                <label class="custom-control-label" for="Radio3we" style="line-height:1.5rem">GUANAJUATO</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio4we" name="Radioswe" class="custom-control-input">
                <label class="custom-control-label" for="Radio4we" style="line-height:1.5rem">JALISCO</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio5we" name="Radioswe" class="custom-control-input">
                <label class="custom-control-label" for="Radio5we" style="line-height:1.5rem">MICHOACÁN</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio6we" name="Radioswe" class="custom-control-input">
                <label class="custom-control-label" for="Radio6we" style="line-height:1.5rem">SLP</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
          </div><!-- /.row -->
        </div><!-- /.card -->
      </div><!-- /.col-2 -->
      <div class="col-2">
        <div class="card card-body" style="padding:10px; height:142px;">
          <div class="row">
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio1se" name="Radiosse" class="custom-control-input">
                <label class="custom-control-label" for="Radio1se" style="line-height:1.5rem">SOUTHEAST</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio2se" name="Radiosse" class="custom-control-input">
                <label class="custom-control-label" for="Radio2se" style="line-height:1.5rem">CHIAPAS</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio3se" name="Radiosse" class="custom-control-input">
                <label class="custom-control-label" for="Radio3se" style="line-height:1.5rem">QROO</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio4se" name="Radiosse" class="custom-control-input">
                <label class="custom-control-label" for="Radio4se" style="line-height:1.5rem">TABASCO</label>
              </div><!-- /.custom-control -->
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio5se" name="Radiosse" class="custom-control-input">
                <label class="custom-control-label" for="Radio5se" style="line-height:1.5rem">VER SUR</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
            <div class="col-6" style="font-size:10px;">
              <div class="custom-control custom-radio">
                <input type="radio" id="Radio6se" name="Radiosse" class="custom-control-input">
                <label class="custom-control-label" for="Radio6se" style="line-height:1.5rem">YUCAM</label>
              </div><!-- /.custom-control -->
            </div><!-- /.col-6 -->
          </div><!-- /.row -->
        </div><!-- /.card -->
      </div><!-- /.col-2 -->
    </div><!-- /.row -->
  </div><!-- /.col-lg-12 -->
  <div class="col-12 mt-4" id="row_1">
    <div class="row">
      <div class="col-6">
        <table id="tabla_scorecard_gz" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-white text-center">
              <th></th>
              <th colspan="5" class="bg-dark">MONTH VOLUME: <strong class="text-danger" id="month_volume_gz"></strong> %</th>
              <th colspan="5" class="bg-dark">YTD VOLUME: <strong class="text-danger" id="year_volume_gz"></strong> %</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">Zones</th>
              <th class="bg-light">Month</th>
              <th class="bg-light">vs LY</th>
              <th class="bg-light">%</th>
              <th class="bg-light">vs BGT</th>
              <th class="bg-light">%</th>
              <th class="bg-info text-white">YTD</th>
              <th class="bg-info text-white">vs LY</th>
              <th class="bg-info text-white">%</th>
              <th class="bg-info text-white">vs BGT</th>
              <th class="bg-info text-white">%</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
      <div class="col-6">
        <table id="tabla_scorecard_canal" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-white text-center">
              <th></th>
              <th colspan="5" class="bg-dark">MONTH VOLUME</th>
              <th colspan="5" class="bg-dark">YTD VOLUME</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">CHANNEL</th>
              <th class="bg-light">Month</th>
              <th class="bg-light">vs LY</th>
              <th class="bg-light">%</th>
              <th class="bg-light">vs BGT</th>
              <th class="bg-light">%</th>
              <th class="bg-info text-white">YTD</th>
              <th class="bg-info text-white">vs LY</th>
              <th class="bg-info text-white">%</th>
              <th class="bg-info text-white">vs BGT</th>
              <th class="bg-info text-white">%</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
    </div><!-- /.row -->
  </div><!-- /.col-12 -->
  <div class="col-12 mt-4" id="row_2">
    <div class="row">
      <div class="col-12">
        <table id="tabla_header_volumen_axes" class="table table-sm table-striped" style="font-size:10px;margin-bottom:0px;">
          <thead>
            <tr class="text-white text-center">
              <th colspan="12" class="bg-dark">VOLUMEN AXES</span></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="col-6">
        <table id="tabla_scorecard_volumen_gz" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-center">
              <th></th>
              <th class="bg-light" colspan="1">Month Var</th>
              <th colspan="2" style="background-color:#ed7d31;color:#FFF">BASE MONTH</th>
              <th colspan="3" style="background-color:#2f75b5;color:#FFF">PENETRARION MONTH</th>
              <th class="bg-light">YTD Var</th>
              <th colspan="2" style="background-color:#ed7d31;color:#FFF">BASE YTD</th>
              <th colspan="3" style="background-color:#2f75b5;color:#FFF">PENETRARION YTD</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">Zones</th>
              <th class="bg-light">vs LY <span id="vslymonth">9</span>%</th>
              <th class="bg-light">Base</th>
              <th class="bg-light">%</th>
              <th class="bg-light">Net Vol</th>
              <th class="bg-light">%</th>
              <th class="bg-light">vs BGT</th>
              <th class="bg-light">vs LY <span id="vslyytd">9</span>%</th>
              <th class="bg-light">Base</th>
              <th class="bg-light">%</th>
              <th class="bg-light">Net Vol</th>
              <th class="bg-light">%</th>
              <th class="bg-light">vs BGT</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
      <div class="col-6">
        <table id="tabla_scorecard_volumen_canal" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-center">
              <th></th>
              <th class="bg-light" colspan="1">Month Var</th>
              <th colspan="2" style="background-color:#ed7d31;color:#FFF">BASE MONTH</th>
              <th colspan="3" style="background-color:#2f75b5;color:#FFF">PENETRARION MONTH</th>
              <th class="bg-light">YTD Var</th>
              <th colspan="2" style="background-color:#ed7d31;color:#FFF">BASE YTD</th>
              <th colspan="3" style="background-color:#2f75b5;color:#FFF">PENETRARION YTD</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">CHANNEL</th>
              <th class="bg-light">vs LY <span id="vslymonth">9</span>%</th>
              <th class="bg-light">Base</th>
              <th class="bg-light">%</th>
              <th class="bg-light">Net Vol</th>
              <th class="bg-light">%</th>
              <th class="bg-light">vs BGT</th>
              <th class="bg-light">vs LY <span id="vslyytd">9</span>%</th>
              <th class="bg-light">Base</th>
              <th class="bg-light">%</th>
              <th class="bg-light">Net Vol</th>
              <th class="bg-light">%</th>
              <th class="bg-light">vs BGT</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
    </div><!-- /.row -->
  </div>
  <div class="col-12 mt-4" id="row_3">
    <div class="row">
      <div class="col-6">
        <table id="tabla_scorecard_penetration_month_region" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-white text-center">
              <th></th>
              <th colspan="12" style="background-color:#2f75b5;color:#FFF">MONTH PENETRATION VOLUME BY REGION/ZONE</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">Zones</th>
              <th style="background-color:#2f75b5;color:#FFF;">Net Vol</th>
              <th style="background-color:#375623;color:#FFF;">New Vol</th>
              <th style="background-color:#375623;color:#FFF;">vs BGT</th>
              <th style="background-color:#00b050;color:#FFF;">MesOp</th>
              <th style="background-color:#00b050;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Vol '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Cust '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#FF0000;color:#FFF">Lost Vol</th>
              <th style="background-color:#FF0000;color:#FFF">vs BGT</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
      <div class="col-6">
        <table id="tabla_scorecard_penetration_month_canal" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-white text-center">
              <th></th>
              <th colspan="12" style="background-color:#2f75b5;color:#FFF">MONTH PENETRATION VOLUME BY REGION/ZONE</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">CHANNEL</th>
              <th style="background-color:#2f75b5;color:#FFF;">Net Vol</th>
              <th style="background-color:#375623;color:#FFF;">New Vol</th>
              <th style="background-color:#375623;color:#FFF;">vs BGT</th>
              <th style="background-color:#00b050;color:#FFF;">MesOp</th>
              <th style="background-color:#00b050;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Vol '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Cust '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#FF0000;color:#FFF">Lost Vol</th>
              <th style="background-color:#FF0000;color:#FFF">vs BGT</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
    </div><!-- /.row -->
  </div><!-- /.col-12 -->
  <div class="col-12 mt-4" id="row_4">
    <div class="row">
      <div class="col-6">
        <table id="tabla_scorecard_penetration_ytd_region" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-white text-center">
              <th></th>
              <th colspan="12" style="background-color:#2f75b5;color:#FFF">YTD PENETRATION VOLUME BY REGION/ZONE</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">Zones</th>
              <th style="background-color:#2f75b5;color:#FFF;">Net Vol</th>
              <th style="background-color:#375623;color:#FFF;">New Vol</th>
              <th style="background-color:#375623;color:#FFF;">vs BGT</th>
              <th style="background-color:#00b050;color:#FFF;">MesOp</th>
              <th style="background-color:#00b050;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Vol '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Cust '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#FF0000;color:#FFF">Lost Vol</th>
              <th style="background-color:#FF0000;color:#FFF">vs BGT</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
      <div class="col-6">
        <table id="tabla_scorecard_penetration_ytd_canal" class="table table-sm table-striped" style="font-size:10px;">
          <thead>
            <tr class="text-white text-center">
              <th></th>
              <th colspan="12" style="background-color:#2f75b5;color:#FFF">YTD PENETRATION VOLUME BY REGION/ZONE</th>
            </tr>
            <tr class="text-center">
              <th class="bg-danger text-white">CHANNEL</th>
              <th style="background-color:#2f75b5;color:#FFF;">Net Vol</th>
              <th style="background-color:#375623;color:#FFF;">New Vol</th>
              <th style="background-color:#375623;color:#FFF;">vs BGT</th>
              <th style="background-color:#00b050;color:#FFF;">MesOp</th>
              <th style="background-color:#00b050;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Vol '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#70ad47;color:#FFF;">Cust '18</th>
              <th style="background-color:#70ad47;color:#FFF;">vs BGT</th>
              <th style="background-color:#FF0000;color:#FFF">Lost Vol</th>
              <th style="background-color:#FF0000;color:#FFF">vs BGT</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div><!-- /.col-6 -->
    </div><!-- /.row -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->
{% endblock %}

{% block footercode %}
{% endblock %}