{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4 mb-5">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
    {% include 'includes/titulo.html' %}
  </div><!-- /.col-xl-10 -->
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 mt-4">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="form-group">
          <label for="selectRegion">Región</label>
          <select class="form-control form-control-sm" id="selectRegion">
            <option selected>Selecciona una región</option>
            <option>Región 1</option>
            <option>Región 2</option>
            <option>Región 3</option>
            <option>Región 4</option>
            <option>Región 5</option>
          </select>
        </div><!-- /.form-group -->
      </div><!-- /.col-xl-3 -->
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 inputGZ">
        <div class="form-group">
          <label for="selectGZ">Gerencia de Zona</label>
          <select class="form-control form-control-sm" id="selectGZ">
            <option selected>Selecciona una gerencia</option>
            <option>Gerencia de Zona 1</option>
            <option>Gerencia de Zona 2</option>
            <option>Gerencia de Zona 3</option>
            <option>Gerencia de Zona 4</option>
            <option>Gerencia de Zona 5</option>
          </select>
        </div><!-- /.form -->
      </div><!-- /.col-xl-3 -->
    </div><!-- /.row -->
  </div><!-- /.col-xl-10 -->
  <div class="col-12">
    <div class="row">
      <div class="col-12 mt-4">
        <div class="card border-light">
          <div class="card-body">
            <h4 class="card-title text-danger mb-0">Implementación Integral</h4>
            <p class="text-muted">Visualizar a nivel GZ y clientes</p>
            <div class="row">
              <!-- ===* Ganar en Mixtos *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-ganar-en-mixtos fa-lg"></i>&nbsp;&nbsp;Ganar en Mixtos
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="ganar_en_mixtos" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">132</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">234</td>
                              <td class="text-center">43 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">456</td>
                              <td class="text-center">45 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">789</td>
                              <td class="text-center">34 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
              <!-- ===* Desarrollo Preferentes *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-desarrollo-preferentes fa-lg"></i>&nbsp;&nbsp;Desarrollo Preferentes
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="desarrollo_preferentes" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">354</td>
                              <td class="text-center">25 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">394</td>
                              <td class="text-center">54 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">823</td>
                              <td class="text-center">32 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">564</td>
                              <td class="text-center">34 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
              <!-- ===* Básicos *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-basicos"></i>&nbsp;Básicos
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="basicos" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">354</td>
                              <td class="text-center">25 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">394</td>
                              <td class="text-center">54 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">823</td>
                              <td class="text-center">32 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">564</td>
                              <td class="text-center">34 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
              <!-- ===* Materiales Adicionales *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-materiales-adicionales"></i>&nbsp;Materiales Adicionales
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="materiales_adicionales" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">354</td>
                              <td class="text-center">25 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">394</td>
                              <td class="text-center">54 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">823</td>
                              <td class="text-center">32 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">564</td>
                              <td class="text-center">34 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-12 -->
            </div><!-- /.row -->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-12 -->
      <!-- ================================== -->
      <!-- ===* Iniciativas Individuales *=== -->
      <!-- ================================== -->
      <div class="col-12 mt-4">
        <div class="card border-light">
          <div class="card-body">
            <h4 class="card-title text-danger mb-0">Iniciativas Individuales</h4>
            <p class="text-muted">Visualizar a nivel GZ y clientes</p>
            <div class="row">
              <!-- ===* Fachadas *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-fachadas fa-lg"></i>&nbsp;&nbsp;Fachadas
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="fachadas" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center"># No Aplica</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">23</td>
                              <td class="text-center">345</td>
                              <td class="text-center">31 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">34</td>
                              <td class="text-center">1254</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">43</td>
                              <td class="text-center">236</td>
                              <td class="text-center">23 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">10</td>
                              <td class="text-center">921</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /-col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
              <!-- ===* POS *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-pos"></i>&nbsp;&nbsp;POS
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="pos" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center"># No Aplica</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">23</td>
                              <td class="text-center">345</td>
                              <td class="text-center">31 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">34</td>
                              <td class="text-center">1254</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">43</td>
                              <td class="text-center">236</td>
                              <td class="text-center">23 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">10</td>
                              <td class="text-center">921</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
              <!-- ===* Enfriadores *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-enfriadores"></i>&nbsp;&nbsp;Enfriadores
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="enfriadores" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center"># No Aplica</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">23</td>
                              <td class="text-center">345</td>
                              <td class="text-center">31 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">34</td>
                              <td class="text-center">1254</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">43</td>
                              <td class="text-center">236</td>
                              <td class="text-center">23 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">10</td>
                              <td class="text-center">921</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
              <!-- ===* Hielera *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-hielera"></i>&nbsp;&nbsp;Hielera
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="hielera" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center"># No Aplica</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">23</td>
                              <td class="text-center">345</td>
                              <td class="text-center">31 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">34</td>
                              <td class="text-center">1254</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">43</td>
                              <td class="text-center">236</td>
                              <td class="text-center">23 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">10</td>
                              <td class="text-center">921</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
              <!-- ===* Socio Tecate *=== -->
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-success text-uppercase">
                      <i class="scorecard-i fa fa-socio-tecate"></i>&nbsp;&nbsp;Socio Tecate
                    </h5>
                    <div class="row">
                      <div class="col-12">
                        <table id="socio_tecate" class="table table-sm table-hover" style="font-size:12px;">
                          <thead>
                            <tr>
                              <th colspan="5" class="text-danger text-center titulo-tabla" style="border:none; font-size:16px">
                                <span class="titulo-region">Nacional</span>
                                <span class="titulo-gz" style="display:none;">
                                  &nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;
                                  <span class="text-titulo-gz"></span>
                                </span>
                              </th>
                            </tr>
                            <tr>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;"></th>
                              <th style="border:none;" class="text-danger text-center">Ranking</th>
                            </tr>
                          </thead>
                          <thead class="thead-light">
                            <tr>
                              <th></th>
                              <th class="text-danger text-center"># Ctes</th>
                              <th class="text-center"># No Aplica</th>
                              <th class="text-center">% Avance</th>
                              <th class="text-success text-center">% Crecimiento</th>
                              <th class="text-center">% Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">Cuadrante 1</td>
                              <td class="text-center">23</td>
                              <td class="text-center">345</td>
                              <td class="text-center">31 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Cuadrante 2</td>
                              <td class="text-center">34</td>
                              <td class="text-center">1254</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Otros</td>
                              <td class="text-center">43</td>
                              <td class="text-center">236</td>
                              <td class="text-center">23 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                            <tr>
                              <td class="text-center">Conquista</td>
                              <td class="text-center">10</td>
                              <td class="text-center">921</td>
                              <td class="text-center">12 %</td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.col-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.col-xl-6 -->
            </div><!-- /.row -->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->
{% endblock %}

{% block footercode %}
{% endblock %}