{% load staticfiles %}
<!-- ===* Footer *=== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom">
  <div class="row">
    <div class="container text-white">
      <small>Copyright © 2018&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://htatec.com" target="_blank"><img src="imgs/logo_HTA_web.png" style="max-height:20px; width:auto;"></a>&nbsp;&nbsp;All rights reserved.</small>
    </div><!-- /.container -->
  </div><!-- /.row -->
</nav>