{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="iTool">
<meta name="author" content="HTA Developers">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'base/imgs/favicon/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'base/imgs/favicon/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'base/imgs/favicon/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/imgs/favicon/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'base/imgs/favicon/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/imgs/favicon/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'base/imgs/favicon/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'base/imgs/favicon/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/imgs/favicon/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'base/imgs/favicon/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/imgs/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'base/imgs/favicon/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/imgs/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'base/imgs/favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'base/imgs/favicon/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" href="{% static 'base/imgs/favicon/favicon.ico' %}">
<title>iTool: {{app_name}}</title>
<!-- ===* Bootstrap *=== -->
<link href="{% static 'base/css/heineken-bs.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'base/css/scorecard-font.css' %}" rel="stylesheet" type="text/css">
<!-- Fontawesome -->
<script type="text/javascript" src="{% static 'base/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/popper.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'base/css/fontawesome/css/all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/css/styles.css' %}">