{% load staticfiles %}
{% if logos %}
{% include 'includes/navbar/logos.html' %}
{% endif %}
<!-- ===* Navbar *=== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:2px 1rem;">
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#nvbrToggler" aria-controls="nvbrToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand text-primary font-weight-normal"><i class="fa fa-user text-primary"></i>&nbsp;Nombre&nbsp;Apellido&nbsp;<span class="font-weight-light text-info"><small>@username</small></span></span>
  <div class="navbar-collapse collapse justify-content-end" id="nvbrToggler">
    <form class="form-inline my-2 my-lg-0 ml-auto mr-4">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Buscar" style="border-radius:20px 0 0 20px;" placeholder="Buscar...">
        <div class="input-group-append">
          <button type="button" class="btn btn-primary" style="border-radius:0 20px 20px 0;"><i class="fa fa-search fa-lg"></i></button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav mt-2 mt-md-0 justify-content-end">
      <li class="nav-item">
        <a class="nav-link btnregresar" title="Regresar" style="cursor:pointer;">
          <i class="fa fa-reply fa-lg"></i><span class="d-xl-none d-lg-none d-md-none d-sm-none">&nbsp;Regresar</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btnChat" style="cursor:pointer;" title="Chat">
          <div class="fa-lg">
            <span class="fa-layers fa-fw">
              <i class="fa fa-comment"></i>
              <span class="fa-layers-counter bg-danger numMsgs" style="display:none;transform:scale(.35);"></span>
            </span>
            <span class="d-xl-none d-lg-none d-md-none d-sm-none">&nbsp;Chat</span>
          </div>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDrpdwn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog fa-lg"></i><span class="d-xl-none d-lg-none d-md-none d-sm-none">&nbsp;Más opciones</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDrpdwn">
          <a class="dropdown-item" href="#">
            <i class="fa fa-question-circle"></i>&nbsp;Ayuda
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fa fa-lock"></i>&nbsp;Cambiar contraseña
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-wrench"></i>&nbsp;Configuración
          </a>
          <a class="dropdown-item text-danger" href="#" id="DownloadAPK">
            <i class="fa fa-download"></i>&nbsp;Descargar app
          </a>
          <a class="dropdown-item btnSalir" style="cursor:pointer;">
            <i class="fa fa-sign-out-alt"></i>&nbsp;Salir
          </a>
        </div>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{% if botones_nav %}
{% include 'includes/navbar/botones_nav.html' %}
{% endif %}