<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/head.html' %}
  </head>
  <body>
    {% if navbar %}
    {% include 'includes/navbar.html' %}
    {% endif %}
    <!-- =================== -->
    <!-- ===* CONTENIDO *=== -->
    <!-- =================== -->
    <div class="col-12">
      {% block content %}
      {% endblock %}
    </div><!-- /.col-12 -->
    <!-- =================== -->
    <!-- =================== -->
    <!-- =================== -->
    {% include 'includes/footer.html' %}
    {% include 'includes/scripts.html' %}
    {% block footercode %}
    {% endblock %}
  </body>