@font-face {
  font-family: 'scorecard';
  src:  url('fonts/scorecard.eot?s0nxsa');
  src:  url('fonts/scorecard.eot?s0nxsa#iefix') format('embedded-opentype'),
    url('fonts/scorecard.ttf?s0nxsa') format('truetype'),
    url('fonts/scorecard.woff?s0nxsa') format('woff'),
    url('fonts/scorecard.svg?s0nxsa#scorecard') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.scorecard-i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'scorecard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-cm:before {
  content: "\e901";
}
.fa-heineken:before {
  content: "\e902";
}
.fa-itool:before {
  content: "\e903";
}
.fa-desarrollo-preferentes:before {
  content: "\e919";
}
.fa-enfriadores:before {
  content: "\e91a";
}
.fa-fachadas:before {
  content: "\e91b";
}
.fa-ganar-en-mixtos:before {
  content: "\e91c";
}
.fa-otros-materiales:before {
  content: "\e91d";
}
.fa-pos:before {
  content: "\e91e";
}
.fa-socio-tecate:before {
  content: "\e91f";
}
.fa-six:before {
  content: "\e991";
}
.fa-assortment:before {
  content: "\e900";
  color: #fff;
}
.fa-penetration:before {
  content: "\e917";
  color: #fff;
}
.fa-productivity:before {
  content: "\e918";
  color: #fdfdfd;
}